@tailwind base;
@tailwind components;
@tailwind utilities;

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/montserrat-v23-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/montserrat-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/montserrat-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/montserrat-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/montserrat-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/montserrat-v23-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/montserrat-v23-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/montserrat-v23-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/montserrat-v23-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/montserrat-v23-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/montserrat-v23-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/montserrat-v23-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/montserrat-v23-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/montserrat-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/montserrat-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/montserrat-v23-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/montserrat-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/montserrat-v23-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

html,
body {
  font-family: 'Montserrat', sans-serif;
}

@layer components {
  .btn {
    @apply border-0 normal-case rounded-sm font-medium no-animation min-h-0 h-10 transition-opacity active:opacity-75 shadow-lg before:h-5 before:w-5 before:mr-1.5
  }

  .btn-primary {
    @apply shadow-primary/20
  }

  .btn-light {
    @apply bg-light hover:bg-light text-primary font-medium shadow-cinza2/80
  }

  .input {
    @apply rounded-sm border-0 h-10 font-medium text-cinza2 transition-all shadow-sm shadow-primary/20
  }

  input::placeholder {
    @apply text-cinza1/80
  }
}